resources:
- name: {{ env["name"] }}
  type: storage.v1.bucket
  properties:
    name: {{ env["name"] }}
    storageClass: {{ properties["storageClass"] }}
    location: {{ properties["location"] }}
    versioning:
      enabled: {{ properties["versioning"] }}
{% if "lifecycle" in properties %}
    lifecycle: {{ properties["lifecycle"] }}
{% endif %}
{% if "acl" in properties %}
    acl: {{ properties["acl"] }}
{% endif %}
{% if "defaultObjectAcl" in properties %}
    defaultObjectAcl: {{ properties["defaultObjectAcl"] }}
{% endif %}
{% if "logging" in properties %}
    logging: {{ properties["logging"] }}
{% endif %}
  accessControl:
    gcpIamPolicy:
      bindings:
      - members:
        - projectOwner:{{ env["project"] }}
        role: roles/storage.legacyBucketOwner
  {% if "accessControl" in properties %}
      {% for member in properties["accessControl"]["gcpIamPolicy"]["bindings"] %}
      - {{ member }}
      {% endfor %}
  {% endif %}
